@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Great Vibes';
    src: url('./fonts/transfonter.org-20210426-151825/GreatVibes-Regular.woff2') format('woff2'),
    url('./fonts/transfonter.org-20210426-151825/GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}